---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Page not found :(</strong></p>
  <p><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.ctfassets.net%2F1wryd5vd9xez%2F5VcXdiIb30a0bOIQS1kF9p%2F7e4e18045f9ffdc104a35058db16c04b%2Fhttps___cdn-images-1.medium.com_max_2000_1_zjx1zBv78bWs7GbrkTSn7g.gif&f=1&nofb=1&ipt=00d7b866cc098b53709a7ccd781c26b22dedcdc16e579c1ae5d979968d442396" /></p>
  <p>Ain't no content here</p>
</div>
