---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Page not found :(</strong></p>
  <p><img src="https://images.ctfassets.net/1wryd5vd9xez/5VcXdiIb30a0bOIQS1kF9p/7e4e18045f9ffdc104a35058db16c04b/https___cdn-images-1.medium.com_max_2000_1_zjx1zBv78bWs7GbrkTSn7g.gif" /></p>
  <p>Ain't no content here</p>
</div>
